{% extends 'main/layouts/layout-additional.html' %}
{% load static %}

    {% block title %}
        Profile
    {% endblock %}

    {% block style %}
        <link rel="stylesheet" href="{% static 'css/other-pages/my-profile-css.css' %}">
    {% endblock %}


    {% block current-page %}
        <div class="imp-links">
            <a href="{% url 'profile' %}" id="current-page"><i class="fas fa-user-circle"></i> My Profile </a>
            <a href="{% url 'news_home' %}"><i class="fas fa-newspaper"></i> News (Main Page) </a>
            <a href="{% url 'friends' %}"><i class="fas fa-user-friends"></i> Friends </a>
            <a href="{% url 'messenger' %}"><i class="fas fa-comments"></i> Messenger </a>
        </div>
    {% endblock %}



    {% block main-container %}
        <!-- main-content -------------------->

        <div class="top">

            <div class="main-left">

                <div class="profile-photo">
                    <img src="{% static 'images/profile-pic.png' %}">
                    <button>Upload Profile photo</button>
                </div>

            </div>



            <div class="main-right">

                <div class="profile-info">

                    <div  class="info-main">


                        <div>
                            <h2>Name Surname</h2>
                            <small>status</small>
                        </div>
                        

                        <span>online</span>

                        
                    </div>
                    
                </div>


                <hr>





                <div class="info-content">
                

                    <div class="box">
                        <div>
                            <div>
                                <p>Birth date:</p>
                            </div>

                            <div>
                                <p id="info-personal">9 june 1993 year</p>
                            </div>
                        </div>


                        <div>
                            <div>
                                <p>City:</p>
                            </div>
                            
                            <div>
                                <p id="info-personal">Almaty</p>
                            </div>
                        </div>
                        

                        <div>
                            <div>
                                <p>About myself:</p>
                            </div>
                            
                            <div>
                                <p id="info-personal">"love rock&roll!!! 🤟 🤟 🤟"</p>
                            </div>
                        </div>
                        
                        

                    </div>



                    <!-- <button>Edit Personal information</button> -->


                    
                </div>


            </div>

        </div>





        <div class="bottom">


            <div class="write-post-container">
                <div class="user-profile">
                    <img src="{% static 'images/profile-pic.png' %}">

                    <div>
                        <p>Name Surname</p>
                        <small>Public <i class="fas fa-caret-down"></i> </small>   <!-- ? -->
                    </div>
                </div>


                <div class="post-input-container">
                    <div class="title">  
                        <!-- <p>What's on your mind, (Name of the User)?</p> -->

                        <a href="{% url 'create' %}" ><span>+</span> Добавить запись</a>
                    </div>
                </div>

            </div>


            {% if news %}
                {% for element in news %}
                <div class="post-container">
                    <div class="post-row">
                        <div class="user-profile">
                            <img src="{% static 'images/profile-pic.png' %}">
        
                            <div>
                                <p>Name Surname</p>
                                <span>{{ element.date }}</span>
                            </div>
                        </div>
    
                        <a href="#"> <i class="fas fa-ellipsis-v"></i> </a>   <!-- Можно добавить Функционал (Потом нужно ПЕРЕПИСАТЬ) -->
                    </div>


                    <div class="alert alert-warning">
                        <!-- <h3>{{ element.title }}</h3> -->
                        <p>{{element.full_text}}</p>
                        
                        <a href="{% url 'news-detail' element.id %}" class="btn-more" >Редактировать</a>
                    </div>


                    <div class="post-row">
                        <div class="activity-icons">
                            <a href="#"><img src="{% static 'images/like-blue.png' %}"> 120 </a>
                            <a href="{% url 'post-comment' element.id %}"><img src="{% static 'images/comments.png' %}"> 45 </a>
                            <a href="#"><img src="{% static 'images/share.png' %}"> 20 </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="post-container">
                    <p>У вас нет записей</p>
                </div>
            {% endif %}

        </div>


    {% endblock %}







